<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-heng" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>heng</name><js-module name="heng" src="www/heng.js"><clobbers target="cordova.plugins.heng" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="heng"><param name="android-package" value="cordova-plugin-heng.heng" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/heng.java" target-dir="src/cordova-plugin-heng/heng" /></platform><platform name="windows"><js-module name="heng" src="src/windows/heng.js"><runs target="" /></js-module></platform></plugin>